{% extends "layout.html" %}

{% block title %}
Bitcoin-Scrooge
{% endblock %}

{% block body %}
<div>
    <form method="POST">
        {{ date_form.start_date }}
        {{ date_form.end_date }}
        {{ date_form.submit }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
</div>

{% block results %}{% endblock %}

{% endblock %}

